:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  position: relative;
}

.wrapper {
  margin: 0 auto;
  max-width: 120rem;
  display: flex;
  justify-content: space-between;
}

.header {
  width: 100%;
  padding: 3rem;
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.logo__title_font {
  font-family: Georgia;
  font-size: 3.2rem;
  /*! em/rem  */
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0.1792rem;
  color: #545454;
}

.logo__subtitle {
  margin-top: 1rem;
  text-align: center;
  font-family: Arial;
  font-size: 1.3rem;
  /*! em/rem  */
  font-weight: 400;
  letter-spacing: 0.128rem;
  line-height: 1.5rem;
  color: #292929;
}

.menu {
  display: flex;
  width: 44.3rem;
}

.list {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__link {
  color: #545454;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  word-wrap: none;
  line-height: 2.3rem;
  border-bottom: 3px solid transparent;
}
.list__link:hover {
  color: #292929;
  transition-duration: 0.4s;
}
.list__link:active {
  border-bottom-color: #f1cdb3;
}

.list__link_active {
  color: #292929;
  border-bottom-color: #f1cdb3;
}

.pets {
  padding: 8rem 0 10rem 0;
  background-color: #f6f6f6;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.09rem;
  color: #545454;
}

.content__title {
  max-width: 40rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

.button__primary {
  max-width: 26.1rem;
}

.slider,
.slider__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slider {
  width: 100%;
  padding: 6rem 0 3rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
  padding: 0 0 3rem 0;
  margin-bottom: 3rem;
  transition: background-color 0.4s;
}
.card:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
  letter-spacing: 0.07em;
  color: #545454;
  margin: 3rem 0;
}

.card__button {
  border: 2px solid #f1cdb3;
  background-color: transparent;
  border-radius: 100px;
  outline: none;
  box-sizing: border-box;
  padding: 1.3rem 4.3rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
  transition: background-color 0.4s;
}
.card__button:hover {
  background-color: #fddcc4;
  border-color: transparent;
  cursor: pointer;
}

.arrows {
  display: flex;
  width: 34rem;
  justify-content: space-between;
  align-items: center;
}

.arrows__container {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.011rem;
  color: color-dark-3xl;
  background-color: transparent;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  outline: none;
  border-radius: 100px;
  width: 5.2rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s;
}
.arrows__container:hover {
  background-color: #fddcc4;
  border-color: transparent;
  cursor: pointer;
}
.arrows__container:hover:disabled {
  border-color: #cdcdcd;
  background-color: transparent;
}
.arrows__container:disabled {
  border-color: #cdcdcd;
  color: #cdcdcd;
}

.arrows__container_counter {
  background-color: #f1cdb3;
}

.footer {
  display: flex;
  align-items: center;
  background: url(/assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer__content {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.6rem 0 6rem 0;
}

.constacts {
  width: 23.17%;
}

.location {
  width: 25.167%;
}

.footer__container {
  display: flex;
}

.footer__image {
  margin-right: 2rem;
  min-width: 2.2rem;
}

.footer__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.footer__link:hover .footer__subtitle, .footer__link:hover .footer__image {
  opacity: 0.8;
}

.footer__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.09rem;
  color: #ffffff;
  letter-spacing: 0.208rem;
}

.footer__subtitle {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.011rem;
  color: #f1cdb3;
  letter-spacing: 0.12rem;
}