@media screen and (max-width: 910px) {
  .wrapper {
    max-width: 70.8rem;
  }

  .pets {
    padding: 6rem 0 7rem 0;
  }

  .content {
    padding: 1rem 0 0.6rem 0;
  }

  .slider {
    padding: 4rem 6.4rem;
    justify-content: center;
  }

  .slider__container {
    height: 136.5rem;
  }

  .footer__content {
    flex-wrap: wrap;
    padding: 0 3.4rem;
    margin-top: 3rem;
  }

  .footer__section {
    padding: 0;
    margin-bottom: 6rem;
    min-height: 23.4rem;
  }

  .constacts {
    width: 27.8rem;
  }

  .location {
    width: 30.2rem;
  }

  .footer__image_big {
    height: 31.5rem;
    width: 30rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 568px) {
  .wrapper {
    max-width: 30rem;
  }

  .menu {
    display: none;
  }

  .content__title {
    font-size: 1.5625rem;
  }

  .slider {
    padding: 0 15px;
  }

  .slider__container {
    justify-content: center;
  }

  .arrows {
    width: 18.75rem;
  }

  .footer__content {
    justify-items: center;
    flex-wrap: wrap;
  }

  .footer__link {
    margin-top: 40px;
  }

  .constacts {
    width: 17.9375rem;
  }

  .location {
    width: 18.75rem;
  }

  .footer__image_big {
    margin: 0 auto;
  }
}