:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  position: relative;
}

.wrapper {
  margin: 0 auto;
  max-width: 75rem;
  /*! wrapper-width / baseFontSize = 1200px / 16px = 75rem   */
  display: flex;
  justify-content: space-between;
}

.header {
  width: 100%;
  position: absolute;
  top: 60px;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo__title_font {
  font-family: Georgia;
  font-size: 2rem;
  /*! em/rem  */
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.112rem;
  color: #f1cdb3;
}

.logo__subtitle {
  margin-top: 10px;
  text-align: center;
  font-family: Arial;
  font-size: 0.8125rem;
  /*! em/rem  */
  font-weight: 400;
  letter-spacing: 0.08rem;
  line-height: 110%;
  color: #ffffff;
}

.menu {
  display: flex;
  width: 27.69rem;
  /*! em/rem  */
}

.list {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__link {
  color: #cdcdcd;
  font-family: Arial;
  font-size: 0.9375rem;
  /*! em/rem  */
  font-weight: 400;
  text-decoration: none;
  line-height: 160%;
  border-bottom: 3px solid transparent;
}
.list__link:hover {
  color: #fafafa;
  transition-duration: 0.4s;
}
.list__link:active {
  border-bottom-color: #f1cdb3;
}

.list__link_active {
  color: #fafafa;
  border-bottom-color: #f1cdb3;
}

.main {
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  background: url(/assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding-top: 180px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__section_intro {
  max-width: 28.75rem;
  padding-bottom: 80px;
}

.content__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2.1875rem;
  line-height: 130%;
  letter-spacing: 0.06rem;
  color: #545454;
}

.content__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 160%;
  color: #545454;
}

.content__title_intro {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2.75rem;
  line-height: 130%;
  color: #ffffff;
  max-width: 19.375rem;
}

.content__subtitle_intro {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 160%;
  color: #cdcdcd;
  margin-top: 2.625rem;
}

.button__primary {
  background-color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.0625rem;
  line-height: 130%;
  letter-spacing: 0.06rem;
  border-radius: 100px;
  outline: none;
  padding: 0.9375rem 2.8125rem;
  border: none;
  transition: background-color 0.4s;
}
.button__primary:hover {
  background-color: #fddcc4;
  cursor: pointer;
}

.button__primary_intro {
  width: 12.9375rem;
  margin-top: 2.625rem;
}

.intro__image {
  margin-left: 42px;
}

.about {
  padding: 5rem 0 6.25rem 0;
}
.about .content {
  padding: 0 10.9375rem;
  flex-wrap: wrap;
}
.about .content__section {
  max-width: 26.875rem;
  justify-content: space-around;
}
.about .content__title {
  max-width: 23.125rem;
  letter-spacing: 0.122rem;
}

.pets {
  padding: 5rem 0 6.25rem 0;
  background-color: #f6f6f6;
}
.pets .content__section {
  width: 100%;
  align-items: center;
}
.pets .content__title {
  max-width: 25rem;
  text-align: center;
  letter-spacing: 0.13rem;
}
.pets .button__primary {
  max-width: 16.3125rem;
}

.slider {
  width: 100%;
  margin: 3.75rem 0;
}

.slider__container {
  width: 82.5%;
  overflow: hidden;
}

.slider,
.slider__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
  padding: 1.875rem 2.1875rem;
  transition: background-color 0.4s;
}
.card:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 30px 0;
}

.card__button {
  border: 2px solid #f1cdb3;
  background-color: transparent;
  border-radius: 100px;
  outline: none;
  box-sizing: border-box;
  padding: 0.8125rem 2.6875rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.0625rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  transition: background-color 0.4s;
}
.card__button:hover {
  background-color: #fddcc4;
  border-color: transparent;
  cursor: pointer;
}

.slider__arrow {
  background-color: transparent;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  outline: none;
  border-radius: 100px;
  padding: 1.3125rem 1.0625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s;
}
.slider__arrow:hover {
  background-color: #fddcc4;
  border-color: transparent;
  cursor: pointer;
}
.slider__arrow:disabled {
  border-color: #cdcdcd;
}
.slider__arrow:disabled svg {
  fill: #cdcdcd;
}

.help {
  padding-top: 5rem;
}
.help .content__section {
  align-items: center;
}
.help .content__title {
  max-width: 20rem;
  text-align: center;
  letter-spacing: 0.13rem;
  margin-bottom: 3.75rem;
}

.help-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  margin-bottom: 45px;
}

.help-list__item {
  margin: 0 60px 55px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.help-list__icon {
  width: 3.75rem;
  height: 3.75rem;
  margin-bottom: 1.875rem;
}

.help-list__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.07rem;
  color: #545454;
}

.donation {
  padding: 5rem 0 6.3rem 0;
  background-color: #f6f6f6;
}
.donation .wrapper {
  justify-content: center;
  align-items: center;
}
.donation .content {
  max-width: 76.25%;
  flex-wrap: wrap;
}
.donation .donation__image {
  max-height: 16.3125rem;
  max-width: 31.5625rem;
  margin-top: 0.75rem;
}
.donation .content__section {
  padding-top: 2px;
  max-width: 23.75rem;
}
.donation .content__title {
  max-width: 18.75rem;
  letter-spacing: 0.13rem;
  margin-bottom: 1.25rem;
}
.donation .content__title_h5 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 110%;
  letter-spacing: 0.06rem;
  color: #545454;
  margin-bottom: 1.25rem;
}
.donation .content__subtitle_small {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 150%;
  color: #b2b2b2;
}

.credit-card {
  display: flex;
  align-items: center;
  background-color: #f1cdb3;
  border-radius: 9px;
  margin-bottom: 1.25rem;
  max-width: 21.8125rem;
  padding: 0.625rem 0.9375rem;
}
.credit-card:hover {
  background-color: #fddcc4;
  cursor: pointer;
}
.credit-card .donation__link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.credit-card .credit-card__logo {
  max-width: 1.875rem;
  margin-right: 0.9375rem;
}
.credit-card .credit-card__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.07rem;
  color: #545454;
  max-width: 17.125rem;
}

.footer {
  display: flex;
  align-items: flex-end;
  padding-top: 2.5rem;
  background: url(/assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__section {
  display: flex;
  flex-direction: column;
  padding-top: 21px;
  justify-content: space-between;
  margin-bottom: 3.75rem;
}

.constacts {
  width: 23.167%;
}

.location {
  width: 25.16%;
}

.footer__container {
  display: flex;
}

.footer__image {
  margin-right: 20px;
}

.footer__image_big {
  width: 18.75rem;
}

.footer__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.footer__link:hover .footer__subtitle, .footer__link:hover .footer__image {
  opacity: 0.8;
}

.footer__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2.1875rem;
  line-height: 130%;
  letter-spacing: 0.06rem;
  color: #ffffff;
  letter-spacing: 0.13rem;
}

.footer__subtitle {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.07rem;
  color: #f1cdb3;
}