@media screen and (max-width: 1000px) {
  .wrapper {
    max-width: 70.8rem;
    width: 100%;
  }
  .header {
    top: 3rem;
  }
  .content {
    justify-content: center;
    flex-wrap: wrap;
  }
  .intro {
    padding-top: 15rem;
  }
  .intro .button__primary_intro {
    align-self: center;
  }
  .intro .intro__image {
    width: 56.9rem;
    height: 59.3rem;
  }
  .intro .content__section_intro {
    padding-bottom: 9.5rem;
  }
  .intro .intro__image {
    margin-top: 0.5rem;
    margin-left: 14rem;
  }
  .about .about__image {
    order: 1;
    margin-top: 8rem;
  }
  .about .content__subtitle {
    margin-top: 2.5rem;
  }
  .pets .card:nth-child(3) {
    display: none;
  }
  .help .help-list {
    margin-bottom: 10rem;
    justify-content: space-between;
    align-content: space-between;
    min-height: 44.9rem;
    max-width: 63rem;
  }
  .help .help-list__item {
    width: 17rem;
    margin: 0;
  }
  .donation .content {
    padding: 0;
  }
  .donation .donation__image {
    order: 1;
    margin-top: 6rem;
  }
  .footer__content {
    flex-wrap: wrap;
    padding: 0 3.4rem;
    margin-top: 3rem;
  }
  .footer__section {
    padding: 0;
    min-height: 23.4rem;
  }
  .constacts {
    width: 27.8rem;
  }
  .location {
    width: 30.2rem;
  }
  .footer__image_big {
    height: 31rem;
    width: 30rem;
    margin: 6.5rem auto 0;
  }
  .popup__card {
    max-width: 63rem;
    max-height: 35rem;
  }
  .popup__content {
    margin: 1rem 0.9rem 3.7rem 1.1rem;
  }
  .popup__image {
    max-width: 35rem;
    max-height: 35rem;
  }
  .popup__description {
    margin: 2rem auto;
    font-size: 1.3rem;
    line-height: 1.4rem;
    letter-spacing: 0.07rem;
  }
  .popup__list {
    min-height: 8.7rem;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    max-width: 30rem;
    width: 100%;
  }
  body.scroll__lock {
    overflow: hidden;
  }
  .main .content__title {
    font-size: 2.5rem;
    line-height: 3.2rem;
    letter-spacing: 0.15rem;
    text-align: center;
  }
  .header .wrapper {
    flex-direction: row;
    align-items: center;
    max-width: 25.7rem;
    width: 100%;
    margin: 0 5.3rem 0 auto;
  }
  .header .logo {
    z-index: 900;
  }
  .header .burger__logo {
    display: flex;
    align-self: center;
  }
  .intro .content__section {
    text-align: center;
    padding-bottom: 10.5rem;
  }
  .intro .content__title_intro {
    align-self: center;
    max-width: 26rem;
    font-size: 2.5rem;
    line-height: 3.2rem;
    letter-spacing: 0.15rem;
  }
  .intro .intro__image {
    margin: 0 1rem 0 5rem;
    width: 26rem;
    height: 27.177rem;
  }
  .about {
    padding: 4.2rem 0 4.2rem 0;
  }
  .about .content {
    max-width: 27rem;
  }
  .about .content__subtitle {
    margin-top: 2.3rem;
    text-align: justify;
  }
  .about .about__image {
    margin-top: 4.2rem;
    width: 26rem;
    height: 35.36rem;
  }
  .pets {
    padding: 4.2rem 0;
  }
  .pets .slider {
    margin: 4.2rem 0;
    flex-wrap: wrap;
  }
  .pets .slider__container {
    width: 100%;
    justify-content: center;
  }
  .pets .slider__container .card {
    margin-bottom: 2.1rem;
  }
  .pets .slider__container .card:nth-child(n + 2) {
    display: none;
  }
  .pets .slider__arrow {
    order: 1;
    transition: margin 0.3s;
  }
  .pets .slider__arrow:first-child {
    margin-left: 5.8rem;
  }
  .pets .slider__arrow:last-child {
    margin-right: 5.8rem;
  }
  .help {
    padding: 4.2rem 0;
  }
  .help .content__title {
    max-width: 22.5rem;
    margin-bottom: 4.2rem;
  }
  .help .help-list {
    padding: 0 0.5rem;
    margin-bottom: 0;
    min-height: 55.5rem;
  }
  .help .help-list__item {
    width: 13rem;
  }
  .help .help-list__icon {
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
  }
  .help .help-list__title {
    font-size: 1.5rem;
    line-height: 1.65rem;
    letter-spacing: 0.09rem;
  }
  .donation {
    padding: 4.2rem 0;
  }
  .donation .content {
    max-width: 100%;
  }
  .donation .content__title {
    line-height: 3.25rem;
    width: 22.5rem;
    align-self: center;
  }
  .donation .content__section {
    max-width: 28rem;
  }
  .donation .content__title_h5 {
    padding: 0 0.3rem;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0rem;
    color: #545454;
  }
  .donation .content__subtitle_small {
    text-align: justify;
  }
  .donation .credit-card__title {
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.08rem;
  }
  .donation .donation__image {
    margin-top: 4.2rem;
    width: 26rem;
    height: 13.5rem;
  }
  .footer__content {
    flex-wrap: wrap;
    padding: 0;
    margin-top: 3rem;
    justify-content: center;
  }
  .footer__section {
    padding: 0;
    margin-bottom: 4rem;
  }
  .constacts {
    width: 27.8rem;
    min-height: 20.8rem;
    align-items: center;
  }
  .location {
    width: 30rem;
    min-height: 22.2rem;
  }
  .footer__title {
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3.2rem;
    letter-spacing: 0.15rem;
    width: 27.8rem;
  }
  .footer__image_big {
    height: 26.9rem;
    width: 26rem;
    margin: 0;
  }
  .popup__card {
    max-width: 24rem;
    max-height: 39.3rem;
  }
  .popup__content {
    margin: 1rem;
  }
  .popup__name,
  .popup__type {
    text-align: center;
  }
  .popup__image {
    display: none;
  }
  .popup__description {
    letter-spacing: 0.07rem;
    line-height: 1.4rem;
    text-align: justify;
  }
  .popup__list {
    min-height: 8.7rem;
  }
  .popup__btn {
    right: -3rem;
  }
  .burger__window_active {
    display: flex;
  }
}
/*# sourceMappingURL=media.css.map */