@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fafafa;
  text-decoration: none;
  user-select: none;
}

:root {
  font-size: 10px;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.game__overlay {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  padding: 1rem;
  z-index: 10;
  .game__image {
    width: 100%;
    max-width: 50rem;
  }
  .game__title {
    font-size: 5rem;
    margin: 1rem 0;
    text-align: center;
  }
  .game__link {
    font-size: 2rem;
    border: 2px solid #fafafa;
    border-radius: 2rem;
    padding: 1rem 5rem;
  }
}

.game__overlay_active {
  display: flex;
}

.main {
  background: url('../assets/static/background.png');
  background-size: 400px 400px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header,
.footer {
  padding: 1rem;
  width: 100%;
  background-color: #82af44;
  background-image: linear-gradient(315deg, #82af44 0%, #6e9737 74%);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}

.wrapper__header,
.wrapper__footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.footer__link {
  transition: 0.2s;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  .footer__image {
    height: 5rem;
  }
}

.menu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #6e9737;
  background-image: linear-gradient(#6e9737, #82af44, #6e9737);
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease-out;
  padding-top: 7rem;

  .menu__list {
    list-style: none;
    .menu__item_active {
      border-bottom: 5px dotted #fafafa;
      border-top: 5px dotted #fafafa;
    }
    .menu__link {
      display: flex;
      align-items: center;
      color: #fafafa;
      font-size: 4.4rem;
      text-decoration: none;
      text-transform: uppercase;
      margin: 1rem 0;
      z-index: 2;
      transition: 0.2s;
      letter-spacing: 0.1rem;
      &:hover {
        transition: 0.5s;
        transform: scale(1.03);
      }
      .menu__image {
        width: 6rem;
        margin-right: 1rem;
      }
    }
  }
}

.info {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  background-color: #6e9737;
  background-image: linear-gradient(#6e9737, #82af44, #6e9737);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .statistic__category {
    width: 90%;
    margin: 1rem 0;
    z-index: 2;
  }
  .statistic__fields,
  .statistic__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  .statistic__fields {
    border-bottom: 1px solid #fafafa;
  }
  .statistic__name {
    width: 20%;
    margin: 0.5rem 0;
  }

  .statistic__eng,
  .statistic__rus {
    width: 30%;
    margin: 0.5rem 0;
  }
  .statistic__train,
  .statistic__mistakes,
  .statistic__correct,
  .statistic__coef {
    width: 5%;
    margin: 0.5rem 0;
    text-align: center;
  }
}
.info__switcher {
  display: flex;
  &::before {
    position: absolute;
    content: '';
    background: url('../assets/static/panda_top.png');
    background-size: 15rem auto;
    background-repeat: no-repeat;
    width: 15rem;
    height: 20rem;
    top: 3rem;
    right: 0;
    opacity: 0.6;
    z-index: 1;
  }
}

.menu__switcher {
  left: 0;
  transition: 0.5s ease-in;
  overflow-y: hidden;
  &::after {
    position: absolute;
    content: '';
    background: url('../assets/static/panda_bottom.png');
    background-size: 15rem auto;
    background-repeat: no-repeat;
    width: 15rem;
    height: 20rem;
    top: 60vh;
    right: 0rem;
    opacity: 0.8;
    z-index: 1;
  }
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  width: 3.2rem;
  height: 3.2rem;
  opacity: 0.9;
  &:hover {
    opacity: 1;
    transform: scale(1.02);
  }
}

.info__btn {
  z-index: 4;
}

.menu__btn {
  background: url('../assets/static/menuBtn.png') no-repeat;
  z-index: 5;
}

.menu__btn__switcher {
  background: url('../assets/static/closeBtn.png');
  z-index: 6;
}

.info__btn {
  background: url('../assets/static/infoBtn.png') no-repeat;
}

.start__btn {
  width: 11rem;
  border-radius: 2rem;
  border: 2px solid #fafafa;
  visibility: hidden;
  font-size: 2rem;
}

.clear__btn {
  margin-top: 1rem;
  width: 11rem;
  border-radius: 2rem;
  border: 2px solid #fafafa;
  font-size: 2rem;
}

.switch {
  position: relative;
  border: 2px solid #fafafa;
  width: 6rem;
  border-radius: 2rem;
  height: 3rem;
  .checkbox {
    visibility: hidden;
  }
  .checkbox__label {
    display: block;
    z-index: 1;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: -2px;
    left: 0%;
    background: #fafafa;
    border-radius: 50%;
    transition: left 0.5s ease;
    cursor: pointer;
  }
  .checkbox:checked + .checkbox__label {
    left: calc(100% - 3rem);
  }
  .play,
  .train {
    position: absolute;
    line-height: 2.5rem;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .play {
    left: 7rem;
    top: 0;
    opacity: 0.5;
  }
  .train {
    right: 7rem;
    top: 0;
  }
  .checkbox:checked ~ .train {
    opacity: 0.5;
  }
  .checkbox:checked ~ .play {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .start__btn {
    width: 8rem;
    font-size: 1.4rem;
  }
  .switch {
    width: 11rem;
    .play,
    .train {
      font-size: 1.4rem;
      top: 0;
      left: 3.5rem;
    }
    .play {
      display: none;
    }

    .checkbox:checked ~ .train {
      display: none;
    }
    .checkbox:checked ~ .play {
      display: block;
    }
  }
}

.game__answers {
  width: 80%;
  height: 4rem;
  overflow-y: hidden;
  visibility: hidden;
  padding: 1rem;
  .answer__true,
  .answer__false {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0 1rem;
  }
  .answer__true {
    background: url('../assets/static/true.png') no-repeat center;
    background-color: #6e9737;
  }
  .answer__false {
    background: url('../assets/static/false.png') no-repeat center;
    background-color: #a40000;
  }
}

.cards__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  width: 25rem;
  height: 26rem;
  margin: 1rem;
  cursor: pointer;

  .card__categories,
  .card__front,
  .card__back {
    width: 25rem;
    height: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2rem;
    background-color: #82af44;
    background-image: linear-gradient(315deg, #82af44 0%, #6e9737 74%);
    backface-visibility: hidden;
    transition: all 0.5s;
    &:hover {
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
  }

  .card__categories::before {
    content: '';
    width: 0;
    height: 0;
    border-width: 50px 30px 20px;
    border-style: solid;
    border-color: #fafafa #fafafa transparent;
    position: absolute;
    right: 2rem;
  }

  .card__back {
    justify-content: center;
    transform: rotateY(180deg);
  }
  .card__items {
    position: absolute;
    top: 0.5rem;
    right: 3rem;
    color: #82af44;
    font-size: 3.2rem;
    text-align: center;
    width: 4rem;
  }
  .look__btn {
    background: url('../assets/static/showBtn.png');
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
  }

  .card__title {
    font-size: 3.5rem;
    color: #fafafa;
  }

  .card__image {
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      padding: 3rem;
      width: 20rem;
      z-index: 2;
    }
  }
  .card__front_rotate {
    transform: rotateY(180deg);
  }
  .card__back_rotate {
    transform: rotateY(360deg);
  }
}

.footer[data-state='gameMode'],
.header[data-state='gameMode'] {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  .menu,
  .info {
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  }
}
.header[data-state='gameMode'] {
  .start__btn {
    visibility: visible;
  }
}
.main[data-state='gameMode'] {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  background: url('../assets/static/background_game.png');
  .card__categories {
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    .card__items {
      color: #7f53ac;
    }
  }
  .game__answers {
    visibility: visible;
  }
  .card__front {
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    .card__title {
      display: none;
    }
    .look__btn {
      display: none;
    }
    .card__image {
      height: 100%;
      width: 100%;
      transition: padding 0.5s;
      img {
        padding: 3.5rem;
      }
    }
  }
  .card__back {
    display: none;
  }

  .game__true {
    pointer-events: none;
    background: gray;
    border-radius: 2rem;
    img {
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: 700px) {
  body {
    height: 100%;
  }
  .info .statistic__fields,
  .info .statistic__item {
    font-size: 1.2rem;
  }
}
