$color_day: #fafafa;
$color_night: #414141;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: $color_day;
  transition: all 0.5s linear;
  background-size: cover;
  background-repeat: no-repeat;
}

.weather {
  background-color: $color_day;
  color: $color_night;
  opacity: 0.7;
  position: absolute;
  align-self: flex-end;
  font-size: 2.5rem;
  top: 2.5rem;
  right: 2.5rem;
  border-radius: 1.5rem;
  padding: 1.5rem 3.5rem;
}

.info {
  .time {
    font-size: 14rem;
  }
  .date {
    font-size: 7rem;
  }
  .weekday {
    font-size: 5rem;
  }
}

.text {
  margin: 4.5rem 0;
  font-size: 4rem;
  background-color: $color_day;
  color: $color_night;
  opacity: 0.8;
  width: 100%;
  padding: 2rem 0;
}

.btn {
  background-color: $color_day;
  color: $color_night;
  opacity: 0.7;
  font-size: 2.5rem;
  border-radius: 1.5rem;
  padding: 1.5rem 3.5rem;
  border: none;
  outline: none;
  &:hover {
    color: $color_day;
    background-color: $color_night;
  }
}

.qoutes {
  position: absolute;
  max-width: 90%;
  bottom: 2.5rem;
  font-size: 2.5rem;
}

@media screen and (max-height: 500px) {
  :root {
    font-size: 4px;
  }
  body {
    height: 75rem;
  }
}

@media screen and (max-width: 767px) {
  :root {
    font-size: 5px;
  }
  .btn,
  .weather {
    padding: 3rem 7rem;
  }
}
