* {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #005b7c, #008eab, #d5d1ca);
}

.input {
  grid-column: 1 / -1;
  text-align: right;
  padding: 15px;
  font-size: 24px;
  margin-bottom: 15px;
  color: #005b7c;
  background: #d5d1ca;
  border: none;
}

.btn {
  border: none;
  background: #005b7c;
  color: #efefee;
  opacity: 0.8;
  transition: 0.2s;
  font-size: 18px;
}

.btn:hover {
  opacity: 0.9;
  transition: 0.5s;
}

.calculator_grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 85px);
  grid-template-rows: minmax(50px, auto) repeat(6, 75px);
}

.span-row {
  grid-row: span 3;
}

.spam-column {
  grid-column: span 2;
}
